body,
html {
  background: #f7f7f7;
}
.header {
  height: 0.9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.36rem;
  border-bottom: 0.02rem solid #e8e8e8;
  position: relative;
}
.header .back-btn {
  width: 0.44rem;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .share-btn {
  width: 0.48rem;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.goods-img img {
  width: 100%;
  height: auto;
}
.order-price {
  height: 2.34rem;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.3rem;
}
.order-price p {
  font-size: 0.32rem;
}
.order-price .goods-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 0.3rem;
  line-height: 1em;
}
.order-price .goods-price .price-num .curr-price {
  font-size: 0.46rem;
  color: #f62025;
}
.order-price .goods-price .price-num .old-price {
  font-size: 0.24rem;
  color: #999;
  text-decoration: line-through;
}
.order-price .goods-price .time {
  color: #999;
  font-size: 0.24rem;
}
.order-price .goods-price .time span:last-child {
  color: #f62025;
}
.comment-list {
  padding: 0 0.4rem 1.2rem 0.4rem;
  background: #fff;
}
.comment-list > li {
  border-bottom: 0.02rem solid #e8e8e8;
}
.comment-list > li:last-child {
  border: 0;
}
.comment-list > li .comment-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  position: relative;
}
.comment-list > li .comment-user img {
  border-radius: 1rem;
  width: 0.92rem;
  height: 0.92rem;
}
.comment-list > li .comment-user .name {
  margin-left: 0.3rem;
  font-size: 0.34rem;
}
.comment-list > li .comment-user .comment-time {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  font-size: 0.24rem;
  color: #666;
  float: right;
}
.comment-list > li .comment-content {
  font-size: 0.28rem;
}
.comment-list > li .comment-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
.comment-list > li .comment-img li {
  width: 2.15rem;
  height: 2.15rem;
  background: #ffcc33;
  margin-bottom: 0.13rem;
  border-radius: 0.1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment-list > li .comment-img li img {
  width: 100%;
  min-height: 100%;
}
.choose-type {
  background: #fff;
  margin-top: 0.2rem;
}
.choose-type .input-box-item {
  height: 0.9rem;
  width: 6.9rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.1rem;
}
.choose-type .input-box-item .coupon-text {
  font-size: 0.26rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose-type .input-box-item .coupon-text img {
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.05rem;
}
.show-all-comment {
  background: #fff;
  border-bottom: 0.02rem solid #e8e8e8;
}
.show-all-comment .input-box-item {
  height: 0.9rem;
  width: 6.9rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.1rem;
}
.show-all-comment .input-box-item .coupon-text {
  font-size: 0.26rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.show-all-comment .input-box-item .coupon-text img {
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.05rem;
}
.goods-detail-content {
  background: #fff;
  text-align: center;
  overflow: hidden;
}
.goods-detail-content p {
  padding: 0 0.45rem;
  margin: 0.2rem 0;
  line-height: 0.45rem;
}
.goods-detail-content img {
  width: 100%;
}
.pay-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0.98rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 7.5rem;
  font-size: 0.32rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pay-bottom .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.2rem;
  width: 2.9rem;
  color: #666;
}
.pay-bottom .contact img {
  width: 0.48rem;
  height: 0.48rem;
}
.pay-bottom a.enter-store {
  display: block;
  width: 2.3rem;
  height: 0.98rem;
  line-height: 0.98rem;
  text-align: center;
  color: #fff;
  background: #ff9f51;
}
.pay-bottom a.second-kill {
  display: block;
  width: 2.3rem;
  height: 0.98rem;
  line-height: 0.98rem;
  text-align: center;
  color: #fff;
  background: #ff4a4a;
}
.choose-type-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 7.5rem;
  background: rgba(0, 0, 0, 0.4);
}
.choose-type-modal .choose-type-content {
  background: #fff;
  position: absolute;
  width: 7.5rem;
  height: 8.86rem;
  bottom: 0;
}
.choose-type-modal .choose-type-content .close-modal-btn {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}
.choose-type-modal .choose-type-content .close-modal-btn img {
  width: 0.4rem;
  height: 0.4rem;
}
.choose-type-modal .choose-type-content .goods-args {
  padding: 0.4rem 0.3rem;
}
.choose-type-modal .choose-type-content .goods-args .goods-msg {
  height: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.choose-type-modal .choose-type-content .goods-args .goods-msg img {
  height: 1.5rem;
  width: 1.5rem;
}
.choose-type-modal .choose-type-content .goods-args .goods-msg .price-show {
  height: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.2rem;
}
.choose-type-modal .choose-type-content .goods-args .goods-msg .price-show .choose-price-num span:first-child {
  font-size: 0.34rem;
  color: #ff2b2b;
}
.choose-type-modal .choose-type-content .goods-args .goods-msg .price-show .choose-price-num span:last-child {
  font-size: 0.22rem;
  color: #999;
  text-decoration: line-through;
}
.choose-type-modal .choose-type-content .goods-args .goods-msg .type-show {
  color: #666;
  font-size: 0.26rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box {
  margin-top: 0.5rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box span {
  font-size: 0.28rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 0.3rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box ul li {
  width: 1.4rem;
  height: 0.8rem;
  color: #999;
  background: #f5f5f5;
  text-align: center;
  line-height: 0.8rem;
  margin-bottom: 0.3rem;
  border-radius: 0.08rem;
  margin-right: 0.4rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box ul li.active {
  color: #fff;
  background: #5598ff;
}
.choose-type-modal .choose-type-content .goods-args .item-box ul li:nth-child(4n) {
  margin-right: 0;
}
.choose-type-modal .choose-type-content .goods-args .item-box .choose-num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.3rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box .choose-num a img {
  width: 0.8rem;
  height: 0.8rem;
}
.choose-type-modal .choose-type-content .goods-args .item-box .choose-num input {
  width: 1.6rem;
  height: 0.8rem;
  border: 0.03rem solid #ccc;
  border-radius: 0.08rem;
  margin: 0 0.2rem;
  position: relative;
  bottom: 0.04rem;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.1rem;
  text-align: center;
}
.choose-type-modal .choose-type-content .modal-btn {
  height: 0.98rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 7.5rem;
}
.choose-type-modal .choose-type-content .modal-btn a {
  display: block;
  width: 50%;
  line-height: 0.98rem;
  text-align: center;
  color: #fff;
}
.choose-type-modal .choose-type-content .modal-btn .add-cart-btn {
  background: #ff9f51;
}
.choose-type-modal .choose-type-content .modal-btn .buy-btn {
  background: #ff5151;
}
