body,
html {
  background: #f7f7f7;
}
.header {
  height: 0.9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.36rem;
  border-bottom: 0.02rem solid #e8e8e8;
  position: relative;
  background: #fff;
}
.header img {
  width: 0.44rem;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.order-address {
  height: 2rem;
  background: #fff;
  border-bottom: 0.02rem solid #e8e8e8;
  padding: 0 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.order-address .order-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.34rem;
}
.order-address p {
  font-size: 0.28rem;
  margin-top: 0.2rem;
}
.order-goods {
  height: 2.17rem;
  background: #fff;
  border-bottom: 0.02rem solid #e8e8e8;
  padding: 0 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-goods img {
  width: 1.5rem;
  height: 1.5rem;
}
.order-goods .goods-msg {
  margin-left: 0.22rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
}
.order-goods .goods-msg .price-num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order-goods .goods-msg .price-num span:first-child {
  font-size: 0.28rem;
  color: #ff2b2b;
}
.order-goods .goods-msg .price-num span:last-child {
  font-size: 0.26rem;
  color: #666;
}
.order-price {
  height: 0.8rem;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}
.order-price p {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 0.26rem;
  color: #666;
  width: 100%;
  line-height: 1em;
}
.order-price p .price-num {
  font-size: 0.34rem;
  color: #ff4a4a;
}
.pay-select-box {
  background: #fff;
  margin-bottom: 1.28rem;
}
.pay-select-box .pay-select-item {
  min-height: 1rem;
  width: 6.9rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0.1rem;
  border-bottom: 0.02rem solid #e8e8e8;
  font-size: 0.32rem;
  position: relative;
}
.pay-select-box .pay-select-item .pay-way-img {
  width: 0.6rem;
  height: 0.6rem;
}
.pay-select-box .pay-select-item .check-img {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
.pay-select-box .pay-select-item .pay-name {
  margin-left: 0.3rem;
  line-height: 1em;
}
.pay-select-box .pay-select-item .pay-name .pay-desc {
  color: #999;
  margin-top: 0.2rem;
}
.pay-select-box .pay-select-item:last-child {
  border: 0;
}
.pay-select-box .pay-select-active .check-img {
  display: block;
}
.choose-coupon {
  background: #fff;
  margin-top: 0.3rem;
}
.choose-coupon .input-box-item {
  height: 0.9rem;
  width: 6.9rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.1rem;
}
.choose-coupon .input-box-item .coupon-text {
  font-size: 0.26rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose-coupon .input-box-item .coupon-text img {
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.05rem;
}
.pay-way {
  height: 1.12rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 0.32rem;
  padding-left: 0.3rem;
}
.pay-way::before {
  content: ' ';
  display: block;
  position: absolute;
  height: 0.4rem;
  width: 0.1rem;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #5598ff;
}
.pay-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0.98rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 7.5rem;
  font-size: 0.32rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pay-bottom span {
  color: #ee3737;
  margin-left: 0.4rem;
}
.pay-bottom a {
  display: block;
  width: 2.3rem;
  height: 0.98rem;
  line-height: 0.98rem;
  text-align: center;
  color: #fff;
  background: #ff4a4a;
}
